body, html {
  font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  font-style: normal;
  font-size: 1.5vw;
}
body {
  background-image: url("../images/state_seal.png");
  background-color:rgb(19, 2, 71);
  background-size:20vw 20vw;
  background-repeat: space repeat;
}
.grid-wrapper{
  display: grid;
  gap: 0vw;
  grid-template-columns: repeat(100, 1fr);
  grid-template-rows: repeat(100, 1fr);
}
.main-page-border {
  grid-column: 20 / 80;
  grid-row: 8 / 92;
  background-color: rgb(158, 149, 111);
  padding: 2vw;
  border-style: groove;
  border-color:rgb(53, 34, 1);
  border-width: 0.4vw;
}
header {
  text-align: center;
  font-size: 115%;
}
li {
  position:relative;
  left: -1vw;
}
table, th, td {
  border: 0.2vw solid;
}
.table-even{
  background-color:rgb(187, 148, 89)
}
.table-odd{
  background-color:rgb(146, 96, 20)
}
#navbar {
  display:flex;
  flex-flow: row wrap;
  padding:0.8vw;
}
#navbar > a {
  flex-grow: 1;
  color:aliceblue;
  background-color: rgb(37, 91, 143);
  border-width: 0.2vw;
  border-style:solid;
  border-radius: 0;
  border-color: rgb(4, 26, 47);
  text-align: center;
}
#navbar > a:hover{
  color:rgb(207, 205, 40);
  background-color: rgb(74, 124, 210);
}
.box-in-box {
  background-color: rgb(151, 119, 69);
  padding: 0.8vw;
  margin: 1vw;
  border-style: solid;
  border-color:rgb(63, 47, 20);
}
.image-box {
  background-color: rgb(151, 119, 69);
  padding: 0.8vw;
  border-style: solid;
  border-color:rgb(63, 47, 20);
  display: block;
  width: 50%;
  height: auto;
  margin-left: auto;
  margin-right: auto;
}
.image-box > img {
  display: block;
  width: 100%;
  height: auto;
}
#sidebar {
  position:absolute;
  left: 79%;
  top: 30%;
  height: fit-content;
  width:10%;
  background-color: rgb(243, 255, 13);
  padding: 0.7vw;
  border-style:ridge;
  border-color:rgb(92, 23, 5);
  border-width: 0.2vw;
}
#sidebar > img {
  display: block;
  width: 95%;
  height: auto;
  margin-left: auto;
  margin-right: auto;
  border-style: solid;
  border-color:rgb(63, 47, 20);
  border-width: 0.2vw;
}
.smaller-text {
  font-size: 75%;
}
#references {
  font-size: 35%;
}
.reduced-margin {
  margin: -0.10vw;
}
.form-label {
  font-size:75%;
}
.form-field {
  width: 18vw;
  height: 1.8vw;
}
.form-input-box{
  display:block;
}
#form-image{
  float:right;
  height: 12vw;
  width: auto;
}
.attraction-header {
  font-size: 100%;
  margin-bottom: -0.8vw;
}
.attraction-text {
  font-size: 85%;
  margin-bottom: -0.8vw;
}
#attraction-image-box {
  display:flex;
  flex-flow: row wrap;
}
.attraction-image {
  height: 11vw;
  width: auto;
  flex-grow: 1;
}